html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.page-title {
    font-size: 32px;
    text-align: center;
}

.main-wrapper {
    background-color: lightgray;
    border: 1px solid transparent;
    border-radius: 5px;
}

.tabs {
    padding: 20px;
    display: flex;
    flex-direction: row;

    @media (min-width: 768px) {
        flex-direction: column;
    }
}

.tablist {
    min-width: 20%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 10px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.tab-button {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border-color: transparent;
    border-radius: 5px 0 0 5px;
    background-color: inherit;
    cursor: inherit;

    &:focus {
        outline: 0;
    }

    @media (min-width: 768px) {
        padding: 5px 5px;
        border-radius: 5px 5px 0 0;

    }

    &[aria-selected="true"] {
        background-color: antiquewhite;
        cursor: auto;
    }
}

.tablist .tablist-item {
    background-color: aliceblue;
    border-radius: 5px 0 0 5px;
    cursor: pointer;

    @media (min-width: 768px) {
        border-radius: 5px 5px 0 0;
    }
}

.tabpanel {
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0 5px 5px 0;

    @media (min-width: 768px) {
        border-radius: 0 0 5px 5px;
    }
}

.input {
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    width: 50%;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;

    &:focus {
        outline: none;
        border-bottom: 1px solid lightgray;
        border-radius: 5xp 5px;
    }

    &::placeholder {
        opacity: .4;
    }
}

.predictions {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
    background-color: aliceblue;
}

.station {
    border-bottom: 1px solid  lightgray;
}